* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Montserrat", sans-serif;
	color: white;
}

body {
	height: 100vh;
	background: rgb(22, 29, 84);
	background: linear-gradient(
		180deg,
		rgb(15, 20, 58) 0%,
		rgb(60, 60, 161) 100%
	);
}

/*
Title CSS
*/
.websitetitle {
	grid-area: title;
	background-image: url(./assets/clipbackground.png);
	width: 100%;
	background-size: cover;
}

.websitetitle .title {
	position: inherit;
	margin-top: 36vh;
	font-size: 50px;
	text-align: center;
	font-weight: 900;
	background-color: rgb(22, 29, 84);
}

.textclip {
	/* what will show through the text
        ~ or ~
       what will be the background of that element */
	position: relative;
	background: url(./assets/clipbackground.png);
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
	background-clip: text;
}
