* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Montserrat", sans-serif;
	color: white;
}

body {
	height: 200vh;
	background: rgb(22, 29, 84);
	background: linear-gradient(
		180deg,
		rgb(15, 20, 58) 0%,
		rgb(60, 60, 161) 100%
	);
}

/*
Footer CSS
*/
footer {
	position: fixed;
	bottom: 0;
	height: 40px;
	width: 100%;
	background-color: rgb(176, 176, 243);
	-webkit-box-shadow: -1px 1px 56px -11px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: -1px 1px 56px -11px rgba(0, 0, 0, 0.75);
	box-shadow: -1px 1px 56px -11px rgba(0, 0, 0, 0.75);
	padding: 4px;
}

footer svg {
	position: relative;
	height: 100%;
}

footer label {
	height: 40px;
	margin-left: 10px;
	vertical-align: middle;
	display: inline-block;
	color: black;
	transform: translate(-10%, -8%);
	font-weight: 500;
	font-size: 20px;
}

/*
Navbar CSS
*/
.navbar-popup {
	position: fixed;
	bottom: -500px;
	left: 0;
	height: 500px;
	width: 250px;
	background-color: rgb(146, 146, 201);
	transition: bottom 0.5s;
}

.linkcontainer {
	padding: 20px;
	background-color: rgb(146, 146, 201);
	transition: background-color 0.3s;
}

.linkcontainer:hover {
	background-color: rgb(121, 121, 170);
}

.navbar-popup p {
	color: black;
	font-weight: 500;
	font-size: 20px;
	text-align: center;
}

.navbar-popup.open-nav {
	bottom: 40px;
}

.nav-icon {
	stroke: black;
	stroke-width: 2;
	transition: stroke 0.3s;
}

.nav-icon:hover {
	stroke: rgb(107, 107, 224);
}

/*
Grid Setup
*/
.maincontainer {
	height: 200vh;
	display: grid;
	grid-template-columns: 2fr 1fr;
	grid-template-rows: 100vh 2fr 1fr;
	grid-template-areas: "title title" "main morememes" "meme morememes";
	grid-gap: 5px;
}

/*
Title CSS
*/
.websitetitle {
	grid-area: title;
	background-image: url(./assets/clipbackground.png);
	width: 100%;
	background-size: cover;
}

.websitetitle .title {
	position: inherit;
	margin-top: 36vh;
	font-size: 50px;
	text-align: center;
	font-weight: 900;
	background-color: rgb(22, 29, 84);
}

.textclip {
	/* what will show through the text
        ~ or ~
       what will be the background of that element */
	position: relative;
	background: url(./assets/clipbackground.png);
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
	background-clip: text;

	/* fallback text color
        ~ or ~
       the actual color of text, so it better work on the background */
}

.morememes {
	position: relative;
	grid-area: morememes;
	background: rgb(22, 29, 84);
	margin: 40px;
	padding: 20px;
	text-align: center;
	margin-bottom: 80px;
	border-radius: 5px;
	-webkit-box-shadow: 5px 5px 29px -4px #000000;
	box-shadow: 5px 5px 29px -4px #000000;
}

.memes {
	position: relative;
	grid-area: meme;
	margin: 40px;
	margin-bottom: 80px;
}

.middlearea {
	position: relative;
	grid-area: main;
	margin: 40px;
	margin-bottom: 80px;
	overflow: auto;
}
