/*
Footer CSS
*/

.footercontainer {
}
footer {
	position: fixed;
	bottom: 0;
	height: 40px;
	width: 100%;
	background-color: rgb(176, 176, 243);
	-webkit-box-shadow: -1px 1px 56px -11px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: -1px 1px 56px -11px rgba(0, 0, 0, 0.75);
	box-shadow: -1px 1px 56px -11px rgba(0, 0, 0, 0.75);
	padding: 4px;
	display: flex;
	justify-content: space-between;
}

.footer-left {
	height: 100%;
}

.footer-left svg {
	position: relative;
	height: 100%;
}

.footer-left label {
	height: 40px;
	margin-left: 10px;
	vertical-align: middle;
	display: inline-block;
	color: black;
	transform: translate(-10%, -8%);
	font-weight: 500;
	font-size: 20px;
}

.footer-right {
	height: 100%;
	transition: background-color 0.3s;
}

.footer-right:hover {
	background-color: rgb(107, 107, 224);
}

.footer-right label {
	height: 40px;
	margin-right: 10px;
	margin-left: 10px;
	margin-top: 3px;
	vertical-align: middle;
	display: inline-block;
	color: black;

	font-weight: 500;
	font-size: 20px;
}

/*
Navbar CSS
*/
.navbar-popup {
	position: fixed;
	bottom: -500px;
	left: 0;
	height: 500px;
	width: 250px;
	background-color: rgb(146, 146, 201);
	transition: bottom 0.3s;
}

.linkcontainer {
	padding: 20px;
	background-color: rgb(146, 146, 201);
	transition: background-color 0.3s;
}

.linkcontainer:hover {
	background-color: rgb(121, 121, 170);
}

.navbar-popup p {
	color: black;
	font-weight: 500;
	font-size: 20px;
	text-align: center;
}

.navbar-popup.open-nav {
	bottom: 40px;
}

.nav-icon {
	stroke: black;
	stroke-width: 2;
	transition: stroke 0.3s;
}

.nav-icon:hover {
	stroke: rgb(107, 107, 224);
}

/*
Souncloud Widget CSS
*/
.soundcloud-embed {
	position: fixed;
	left: 50%;
	bottom: -300px;
	transform: translate(-50%);
	height: 300px;
	width: 50%;
	color: #d98de7;
	transition: bottom 0.3s;
}
#sc-widget {
	position: relative;
	height: 100%;
	width: 100%;
}
.open-soundcloud {
	bottom: 40px;
}

.audio-controller {
	position: relative;
	height: 100%;
	transform: translate(0, -5%);
}

.playpause {
	display: inline-block;
	width: 40px;
	height: 100%;
}

.audio-button {
	position: relative;

	height: 100%;
}

.song-info {
	position: relative;
	display: inline-block;
	transform: translate(0, -8%);
	width: 200px;
	height: 100%;
}

.song-info label {
	color: black;

	font-weight: 500;
	font-size: 10px;
}

.song-info progress {
	display: block;
}

.song-duration {
	display: flex;
	justify-content: space-between;
}
progress {
	-webkit-appearance: none;
	appearance: none;
	background-color: rgb(107, 107, 224);
	width: 100%;
	color: rgb(107, 107, 224);
	height: 5px;
}
progress::-webkit-progress-bar {
	background-color: rgb(138, 138, 231);
	border-radius: 2px;
	border: 1px solid lighten(rgb(107, 107, 224), 20%);
	color: rgb(107, 107, 224);
}
progress::-webkit-progress-value {
	background-color: rgb(107, 107, 224);
}
