/*
Login and Register CSS
*/

.login-register-form {
	position: absolute;
	height: 70%;
	width: 40%;
	left: 50%;
	top: 40%;
	transform: translate(-50%, -40%);
	overflow: auto;
	background-color: rgb(22, 29, 84);
	-webkit-box-shadow: 5px 5px 29px -4px #000000;
	box-shadow: 5px 5px 29px -4px #000000;
	padding: 20px;
	text-align: center;
	transition: left 0.3s;
}
.move-answerwindow {
	left: 35%;
}
.login-register-inputs {
	position: relative;
	align-items: center;
	padding-top: 50px;
	background-color: rgb(22, 29, 84);
}

.login-register-inputs input {
	display: inline-block;
	width: 75%;
	border: 0;
	margin: 20px 10px 20px 10px;
	padding: 10px;
	background-color: rgb(33, 44, 121);
}

.login-register-buttons {
	display: flex;
	margin: 15px 12.5% 0% 12.5%;
	justify-content: space-between;
}

.login-register-buttons label {
	width: 50%;
}

.login-register-buttons button {
	padding: 10px 20px 10px 20px;
	border: 0;
	height: 5vh;
	background-color: #d98de7;
	transition: background-color 0.2s;
}

.login-register-buttons button:hover {
	background-color: #a569af;
}
/*
Submit Answer CSS
*/
.post-questionmenu {
	position: absolute;
	height: 70%;
	width: 20%;
	left: 50%;
	top: 40%;
	background-color: #d98de7;
	transform: translate(-50%, -40%);
	overflow: auto;
	transition: left 0.3s;
}

.open-postquestionmenu {
	left: 65%;
}

.post-questionmenu div {
	overflow: auto;
	padding: 20px;
	transition: background-color 0.3s;
}

.post-questionmenu div:hover {
	background-color: #a569af;
}

.answer-area {
	width: 75%;
	height: 25vh;
	border: 0;
	background-color: rgb(33, 44, 121);
}
